{% extends 'base.html' %}

{% block title %}
NE 79
{% endblock %}


{% block content %}

<h1 class="text-center">Les coachs</h1>

<div class="container col-12 col-lg-5">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{ url_for('static', filename='images/Marlène2.png') }}" class="d-block custom-image border border-4 border-dark p-1 roundeds-1" alt="...">
          <div class="carousel-caption text-center custom-caption">
            <h5>Marlène COBIGO</h5>
            <p>Avec des bottes</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='images/Marlène2.png') }}" class="d-block custom-image" alt="...">
          <div class="carousel-caption custom-caption">
            <h5>Marlène COBIGO</h5>
            <p>Objectif les sommets !</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{{ url_for('static', filename='images/Marlène2.png') }}" class="d-block custom-image" alt="...">
          <div class="carousel-caption custom-caption">
            <h5>Marlène COBIGO</h5>
            <p>Toujours avec ses bottes...</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

<style>

    body {
        position: relative;
    }

    body::after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("{{ url_for('static', filename='images/Photo2.jpg') }}");
        background-size: cover; /* Pour que l'image prenne toute la place de l'écran */
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.5; /* Réglez l'opacité selon vos préférences */
        z-index: -1; /* Assurez-vous que cet élément est en arrière-plan */
    }

    .custom-image {
        max-height: 700px;
        /* Ajustez la hauteur maximale selon vos besoins */
        max-width: 100%;
        height: auto;
        /* Permettre à la hauteur de s'ajuster automatiquement */
        width: auto;
        margin: 0 auto;
        /* Centrer l'image horizontalement */
    }

    .custom-caption {
    background-color: rgba(0, 0, 0, 0.6);
    /* Couleur de fond avec transparence */
    padding: 0px;
    /* Espacement intérieur pour les textes */
    border-radius: 10px;
    /* Ajoutez une bordure arrondie pour un meilleur aspect */
    max-width: 50%;
    /* Limitez la largeur du fond de couleur */
    margin: auto;
    /* Centrez horizontalement */
  }

    .carousel-control-prev-icon {
      width: 48px;
      height: 48px;
    }
      
  .carousel-control-next-icon {
      width: 48px;
      height: 48px;
    }
</style>



{% endblock %}