{% extends 'base.html' %}

{% block title %}
NE 79
{% endblock %}


{% block content %}
<h1 class="text-center">S'inscrire</h1>

<div class="container-fluid">
    <div class="text-center">
        <a href="{{ url_for('static', filename='images/Inscription NE79.jpg') }}" download>
            <img src="{{ url_for('static', filename='images/Inscription NE79.jpg') }}" class="card-img-top custom-image" alt="...">
        </a>
    </div>
</div>
<h3 class="text-center">Cliquez sur l'image pour la télécharger</h3>


<style>

    body {
        position: relative;
    }

    body::after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("{{ url_for('static', filename='images/Photo1.jpg') }}");
        background-size: cover; /* Pour que l'image prenne toute la place de l'écran */
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.5; /* Réglez l'opacité selon vos préférences */
        z-index: -1; /* Assurez-vous que cet élément est en arrière-plan */
    }

    .custom-image {
        max-height: 750px;
        /* Ajustez la hauteur maximale selon vos besoins */
        max-width: 100%;
        height: auto;
        /* Permettre à la hauteur de s'ajuster automatiquement */
        width: auto;
        margin: 0 auto;
        /* Centrer l'image horizontalement */
        padding: 10px;
    }

</style>

{% endblock %}
