{% extends 'base.html' %}

{% block title %}
    Menu 1_5
{% endblock %}


{% block content %}
<h1 class="text-center mb-5">Les séances 2023/2024</h1>

<div class="container">
    <div class="row text-center">
        <div class="col">
            <!-- Entête du tableau -->
            <div class="row">
                <div class="col">Heures</div>
                <div class="col">Lundi</div>
                <div class="col">Mardi</div>
                <div class="col">Mercredi</div>
                <div class="col">Jeudi</div>
                <div class="col">Vendredi</div>
            </div>

            <!-- Contenu du tableau -->
            <div class="row">
                <div class="col">8h</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
            </div>
            <div class="row">
                <div class="col">9h</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
            </div>
            <div class="row">
                <div class="col">10h</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
            </div>
            <div class="row">
                <div class="col">11h</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
            </div>
            <div class="row">
                <div class="col">12h</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
            </div>
            <div class="row">
                <div class="col">13h</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
            </div>
            <div class="row">
                <div class="col">14h</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
            </div>
            <div class="row">
                <div class="col">15h</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
            </div>
            <div class="row">
                <div class="col">16h</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
            </div>
            <div class="row">
                <div class="col">17h</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
            </div>
            <div class="row">
                <div class="col">18h</div>
                <div class="col">...</div>
                <div class="col bg-primary text-white">18h30 - 20h</div>
                <div class="col">...</div>
                <div class="col bg-primary text-white">18h30 - 20h</div>
                <div class="col">...</div>
            </div>
            <div class="row">
                <div class="col">19h</div>
                <div class="col">...</div>
                <div class="col bg-primary text-white">Senior</div>
                <div class="col">...</div>
                <div class="col bg-primary text-white">Senior</div>
                <div class="col">...</div>
            </div>
            <div class="row">
                <div class="col">20h</div>
                <div class="col">...</div>
                <div class="col bg-primary text-white">stade René Gaillard</div>
                <div class="col">...</div>
                <div class="col bg-primary text-white">stade René Gaillard</div>
                <div class="col">...</div>
            </div>
            <div class="row">
                <div class="col">21h</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
            </div>
            <div class="row">
                <div class="col">22h</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
            </div>
            <div class="row">
                <div class="col">23h</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
            </div>
            <div class="row">
                <div class="col">0h</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
                <div class="col">...</div>
            </div>
            <!-- Ajoutez des lignes pour chaque heure jusqu'à minuit -->
        </div>
    </div>
</div>


{% endblock %}
